@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@300;400;500;700&display=swap');
@import "tailwindcss";


@theme {
  --font-sans: "Ubuntu", system-ui, sans-serif;
  --font-heading: "Ubuntu", sans-serif;
  
  --color-primary: #0f172a;
  --color-brand: #2563eb;
}

@layer base {
  body {
    @apply antialiased font-sans bg-slate-50 text-slate-900;
  }
}
